### LinearRegression / SVR/ RandomForestRegressor
### MSE 비교

#### Linear Regression

In [58]:
# 데이터 불러오기
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [59]:
from sklearn.datasets import load_diabetes
diabetes = load_diabetes()

In [60]:
# 데이터 불러오고 y값(target) 설정
df = pd.DataFrame(diabetes.data, columns=diabetes.feature_names)
df['target'] = diabetes.target
df.head(3)

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0

In [61]:
y = diabetes.target
for feature in df.columns[:-1]:
    X = df[feature].values.reshape(-1,1) # df[feature]는 1차원 데이터 -> Series를 2차원으로 변경 불가능! -> .values.reshape(-1,1) 행이 여러개니까 -1, 열은 1개
    lr = LinearRegression()
    lr.fit(X,y)
    r2 = lr.score(X,y)
    print(f'{feature}: {r2:.4f}')

age: 0.0353
sex: 0.0019
bmi: 0.3439
bp: 0.1949
s1: 0.0450
s2: 0.0303
s3: 0.1559
s4: 0.1853
s5: 0.3202
s6: 0.1463

In [62]:
# 다중 선형회귀
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    diabetes.data, diabetes.target, test_size=0.1, random_state=2021
)

In [63]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
lr = LinearRegression()
lr.fit(X_train, y_train)
pred_lr = lr.predict(X_test)
mse_lr = mean_squared_error(y_test, pred_lr)

#### SVR

In [64]:
# 데이터셋 불러오기
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0

In [65]:
# SVR 임포트
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error

svr = SVR()
svr.fit(X_train, y_train)
pred_sv = svr.predict(X_test) # SVR predict
mse_sv = mean_squared_error(y_test, pred_sv) # SVR의 R squared error

#### RandomForestRegressor

In [66]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor()
rfr.fit(X_train, y_train)
pred_rf = rfr.predict(X_test)
mse_rf = mean_squared_error(y_test, pred_rf)

In [68]:
df2 = pd.DataFrame({
    'y_test':y_test, 'LR': pred_lr, 'mse': pred_sv, 'RFR': pred_rf
})
df2.head()

   y_test          LR         mse     RFR
0   155.0  156.031216  133.705341  124.68
1   167.0  185.700495  146.907788  148.21
2   185.0  162.863840  140.965960  179.09
3   109.0  162.545441  144.683128  150.85
4    65.0   78.518494  118.088552   84.29