### LinearRegression / SVR/ RandomForestRegressor
### MSE 비교

#### Linear Regression

In [97]:
# 데이터 불러오기
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [98]:
from sklearn.datasets import load_diabetes
diabetes = load_diabetes()

In [99]:
# 데이터 불러오고 y값(target) 설정
df = pd.DataFrame(diabetes.data, columns=diabetes.feature_names)
df['target'] = diabetes.target
df.head(3)

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0

In [133]:
# 다중 선형회귀
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    diabetes.data, diabetes.target, test_size=0.1, random_state=2021
)

In [134]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [135]:
# r2
from sklearn.metrics import r2_score
pred = lr.predict(X_test)
r2_score(y_test, pred)

0.45584017860891035

In [136]:
lr.score(X_test, y_test)

0.45584017860891035

In [137]:
from sklearn.metrics import mean_squared_error
mse_lr = mean_squared_error(y_test, pred)
mse_lr

2370.1978745563174

#### SVR

In [88]:
# 데이터셋 불러오기
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0

In [89]:
# 학습시키기
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    diabetes.data, diabetes.target, test_size = 0.1, random_state=2021
)

In [90]:
# SVR 임포트
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error

svr = SVR()
svr.fit(X_train, y_train)
pred_sv = svr.predict(X_test) # SVR predict
mse_sv = mean_squared_error(y_test, pred_sv) # SVR의 R squared error
mse_sv

3960.9366880199996

#### RandomForestRegressor

In [139]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(random_state=2021)
rfr.fit(X_train, y_train)
pred_rf = rfr.predict(X_test)
mse_rf = mean_squared_error(y_test, pred_rf)
mse_rf

3824.664311111111

In [142]:
df2 = pd.DataFrame({
    'y_test':y_test, 'LR': mse_lr, 'mse': mse_sv, 'RFR': mse_rf
})
df2.head()

   y_test           LR          mse          RFR
0   155.0  2370.197875  3960.936688  3824.664311
1   167.0  2370.197875  3960.936688  3824.664311
2   185.0  2370.197875  3960.936688  3824.664311
3   109.0  2370.197875  3960.936688  3824.664311
4    65.0  2370.197875  3960.936688  3824.664311