In [1]:
import numpy as np
import pandas as pd

- Series 생성

In [7]:
s = pd.Series([9904312,3448737,2890451,2466052], # 들어오는 데이터는 1차원이어야 한다.  dict, list 형식도 가능
              index=["서울","부산","인천","대구"])
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [8]:
s[0], s['서울']

(9904312, 9904312)

In [9]:
s[1:3]

부산    3448737
인천    2890451
dtype: int64

In [10]:
s['서울':'인천']

서울    9904312
부산    3448737
인천    2890451
dtype: int64

In [11]:
s[s > 3000000] # numpy의 boolean 인덱싱 필터링

서울    9904312
부산    3448737
dtype: int64

In [12]:
d = s / 1000000
d

서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
dtype: float64

In [15]:
cities = {'서울': 9631482, '부산':3393191, '인천':2632035, '대전':1490158}
s2 = pd.Series(cities)
s2
# dict와 Series는 1:1 대응한다고 보아도 무방하다.

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [17]:
ds = s - s2
ds
# 겹치는 데이터가 없으면 NaN값이 나온다.

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

- 시리즈 속성

In [18]:
s.values    # numpy array

array([9904312, 3448737, 2890451, 2466052], dtype=int64)

In [19]:
s.index    # 형태는 list이나, list는 아니다

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [20]:
for city in s.index: # 반복문을 사용할 수 있다.
    print(city)

서울
부산
인천
대구