In [1]:
import numpy as np
import pandas as pd

- Series 생성
    - DF에서 자주 사용되는 메소드를 알고 있어야, 데이터를 다루기 편하다.

In [7]:
s = pd.Series([9904312,3448737,2890451,2466052], # 들어오는 데이터는 1차원이어야 한다.  dict, list 형식도 가능
              index=["서울","부산","인천","대구"])
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [8]:
s[0], s['서울']

(9904312, 9904312)

In [9]:
s[1:3]

부산    3448737
인천    2890451
dtype: int64

In [10]:
s['서울':'인천']

서울    9904312
부산    3448737
인천    2890451
dtype: int64

In [11]:
s[s > 3000000] # numpy의 boolean 인덱싱 필터링

서울    9904312
부산    3448737
dtype: int64

In [12]:
d = s / 1000000
d

서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
dtype: float64

In [15]:
cities = {'서울': 9631482, '부산':3393191, '인천':2632035, '대전':1490158}
s2 = pd.Series(cities)
s2
# dict와 Series는 1:1 대응한다고 보아도 무방하다.

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [17]:
ds = s - s2
ds
# 겹치는 데이터가 없으면 NaN값이 나온다.

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

- 시리즈 속성

In [18]:
s.values    # numpy array

array([9904312, 3448737, 2890451, 2466052], dtype=int64)

In [19]:
s.index    # 형태는 list이나, list는 아니다

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [20]:
for city in s.index: # 반복문을 사용할 수 있다.
    print(city)

서울
부산
인천
대구

- 시리즈 메소드

In [21]:
# numpy를 Series로 만듦
np.random.seed(2021)
dice = pd.Series(np.random.randint(1, 7, 100))

In [22]:
# element의 갯수
dice.count()

100

In [23]:
# 고유한 값
dice.unique()

array([5, 6, 2, 1, 4, 3])

In [24]:
# 고유한 값의 갯수
dice.nunique()

6

In [26]:
# 고유한 값 (카테고리)별 갯수 ★★★★★
dice.value_counts()

2    21
6    21
3    19
4    18
5    13
1     8
dtype: int64

In [27]:
# 합, 평균, 최대, 최소, 표준편차
dice.sum(), dice.mean(), dice.max(), dice.min(), dice.std()

(370, 3.7, 6, 1, 1.6298974374376005)

In [29]:
# 요약 통계
dice.describe()

count    100.000000
mean       3.700000
std        1.629897
min        1.000000
25%        2.000000
50%        4.000000
75%        5.000000
max        6.000000
dtype: float64

In [30]:
# 정렬
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [31]:
s.sort_values()

대구    2466052
인천    2890451
부산    3448737
서울    9904312
dtype: int64

In [32]:
s.sort_values(ascending=False)

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [33]:
s.sort_values()[::-1]

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [34]:
s.sort_index()

대구    2466052
부산    3448737
서울    9904312
인천    2890451
dtype: int64