# 1. DataFrame - 문자열 조작

In [1]:
import numpy as np
import pandas as pd

In [13]:
# csv의 의미: comma-separated-values 
# - 참고 : https://ko.wikipedia.org/wiki/CSV_(%ED%8C%8C%EC%9D%BC_%ED%98%95%EC%8B%9D), https://ecommerce-platforms.com/ko/glossary/comma-separated-values-csv
# 확장자? : https://ko.wikipedia.org/wiki/%ED%8C%8C%EC%9D%BC_%ED%99%95%EC%9E%A5%EC%9E%90
# - 참고 : https://pandajeytv.tistory.com/113, https://mansoostat.tistory.com/63
df = pd.read_csv('법정동코드 전체자료.txt', sep='\t', encoding='euc-kr')
df.head()

        법정동코드           법정동명 폐지여부
0  1100000000          서울특별시   존재
1  1111000000      서울특별시 종로구   존재
2  1111010100  서울특별시 종로구 청운동   존재
3  1111010200  서울특별시 종로구 신교동   존재
4  1111010300  서울특별시 종로구 궁정동   존재

In [15]:
df.shape

(20551, 3)

In [16]:
# df 다시 실행했더니 됐음!
df = df[df.폐지여부 == '존재']
df.shape

(20551, 3)

In [17]:
# 인덱싱
df.법정동명.str[:2].head()

0    서울
1    서울
2    서울
3    서울
4    서울
Name: 법정동명, dtype: object

In [18]:
# 찾기
# find(): 이 str안에 '동'이라는 글자가 있으면 12, 없으면 -1을 return
    # 결과값 >= 0 : 내가 찾는 문자열이 존재한다.
    # if문에서 find한 결과 >= 0 라는 형태로 자주 쓰인다.
df.법정동명.str.find('동').head()

0    -1
1    -1
2    12
3    12
4    12
Name: 법정동명, dtype: int64

In [19]:
'서울특별시 종로구'.find('동')

-1

In [20]:
'서울특별시 종로구 청운동'.find('동')

12

In [21]:
# 분할 : split()
df.법정동명.str.split().head()

0              [서울특별시]
1         [서울특별시, 종로구]
2    [서울특별시, 종로구, 청운동]
3    [서울특별시, 종로구, 신교동]
4    [서울특별시, 종로구, 궁정동]
Name: 법정동명, dtype: object

In [22]:
# 포함 : contains()
df.법정동명.str.contains('종로').head()

0    False
1     True
2     True
3     True
4     True
Name: 법정동명, dtype: bool

In [23]:
# 문자 대체 : replace()
df.법정동명.str.replace(' ',"_").head()

0            서울특별시
1        서울특별시_종로구
2    서울특별시_종로구_청운동
3    서울특별시_종로구_신교동
4    서울특별시_종로구_궁정동
Name: 법정동명, dtype: object

In [24]:
# 예시
s = pd.Series(['가나다 123', 'ㅠㅠ!!!!!', '한글alphabet'])
s

0       가나다 123
1       ㅠㅠ!!!!!
2    한글alphabet
dtype: object

In [26]:
# 정규 표현식(Regular Expression) - 암호 등 지정할 때 문자열 패턴을 찾아내주는 것을 의미
    # 수업 자료 : https://wikidocs.net/book/2155 에서 02-05) 정규표현식 참고
import re
re.sub('[0-9]', '.', '가나다123')    # re.sub(정규표현식, 대체할 문자, 대상)

'가나다...'

In [27]:
re.sub('[a-z]', '.', '한글alphabet')

'한글........'

In [35]:
# 문자열 메소드인 replace는 정규표현식을 지원하지 않는다.
'한글alphabet'.replace('[a-z]', '.')

'한글alphabet'

In [60]:
# 한글 정규표현식
    # 그 밖에도 이메일 정규표현식이 있다. ex. email 정규표현식 파이썬 으로 검색
re.sub('[ㄱ-ㅎㅏ-ㅣ가-힣]', '.', '한글alphabet')

'..alphabet'

In [61]:
# Pandas str.replace() 메소드는 정규표현식을 지원함
s.str.replace('[ㄱ-ㅎㅏ-ㅣ가-힣]', '.')

0       ... 123
1       ..!!!!!
2    ..alphabet
dtype: object

In [62]:
# futurewarning이 떠서 적용이 안됨! - 이유 찾아보기!!
# ^는 not(부정)을 의미함
    # \s == white space를 의미
    #    != 공백
s.str.replace('[^ㄱ-ㅎㅏ-ㅣ가-힣 ] ', '') # 한글과 공백을 제외한 문자열은 삭제한다.

0       가나다 123
1       ㅠㅠ!!!!!
2    한글alphabet
dtype: object

- white space = ' \t\n'

- str.메소드로 천단위 구분기호를 숫자로 바꾸기

In [84]:
cctv = pd.read_csv('서울시CCTV설치운영현황(자치구)_년도별_210731기준.csv',
                    skiprows=1, encoding='euc-kr')
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,"77,032","7,667","2,200","3,491","4,439","6,582","8,129","9,947","9,876","11,961","11,132","1,608"
1,종로구,"1,772",813,0,0,210,150,1,261,85,9,200,43
2,중 구,"2,333",16,114,87,77,236,240,372,386,155,361,289
3,용산구,"2,383",34,71,234,125,221,298,351,125,307,617,0
4,성동구,"3,602",448,125,212,105,339,310,874,390,262,461,76

In [85]:
for column in cctv.columns[1:]:
    cctv[column] = cctv[column].str.replace(',','').astype(int)
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289
3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0
4,성동구,3602,448,125,212,105,339,310,874,390,262,461,76

In [86]:
cctv.index[:5]

RangeIndex(start=0, stop=5, step=1)

- 인덱스 조작

In [87]:
cctv.set_index('구분').head()

,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
구분,,,,,,,,,,,,
계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
종로구,1772,813,0,0,210,150,1,261,85,9,200,43
중 구,2333,16,114,87,77,236,240,372,386,155,361,289
용산구,2383,34,71,234,125,221,298,351,125,307,617,0
성동구,3602,448,125,212,105,339,310,874,390,262,461,76

In [88]:
# set_index()는 자기파괴적 메소드이므로, 데이터 원본 자체는 변하지 않는다.
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289
3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0
4,성동구,3602,448,125,212,105,339,310,874,390,262,461,76

In [89]:
cctv.set_index('구분', inplace=True)
cctv

,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
구분,,,,,,,,,,,,
계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
종로구,1772,813,0,0,210,150,1,261,85,9,200,43
중 구,2333,16,114,87,77,236,240,372,386,155,361,289
용산구,2383,34,71,234,125,221,298,351,125,307,617,0
성동구,3602,448,125,212,105,339,310,874,390,262,461,76
광진구,2588,35,57,100,187,98,52,675,465,712,175,32
동대문구,2497,1090,146,60,29,111,233,136,197,209,223,63
중랑구,3296,302,24,253,88,141,161,162,173,1049,939,4
성북구,3958,83,78,170,230,323,594,460,867,714,251,188
강북구,2462,0,0,24,65,105,243,6,392,1000,588,39
도봉구,1629,39,22,96,181,79,159,134,222,198,168,331
노원구,2415,0,97,193,77,516,331,175,216,320,386,104
은평구,3791,14,3,44,332,329,555,403,635,1057,288,131
서대문구,2940,730,253,155,108,137,223,356,237,343,397,1
마포구,2421,58,93,77,61,162,454,359,343,494,300,20
양천구,3312,1413,167,181,143,180,350,139,140,274,325,0
강서구,2560,55,129,106,213,188,168,506,259,457,356,123
구로구,4075,852,216,349,187,268,326,540,488,434,415,0
금천구,2374,0,0,178,80,361,133,196,540,369,508,9
영등포구,3778,572,136,238,123,209,248,311,658,65,1213,5
동작구,2297,41,24,25,503,128,253,271,300,322,419,11
관악구,4942,428,205,291,513,529,621,687,663,640,331,34
서초구,3704,116,75,94,71,563,516,1060,428,358,420,3
강남구,6502,124,77,75,597,840,1310,999,748,789,942,1
송파구,2854,72,61,86,85,215,148,241,542,1068,235,101
강동구,2547,332,27,163,49,154,202,273,377,356,614,0

In [90]:
# set_index로 수정한 부분을 원래대로 바꾸려면
cctv.reset_index('구분', inplace=True)
cctv

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289
3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0
4,성동구,3602,448,125,212,105,339,310,874,390,262,461,76
5,광진구,2588,35,57,100,187,98,52,675,465,712,175,32
6,동대문구,2497,1090,146,60,29,111,233,136,197,209,223,63
7,중랑구,3296,302,24,253,88,141,161,162,173,1049,939,4
8,성북구,3958,83,78,170,230,323,594,460,867,714,251,188
9,강북구,2462,0,0,24,65,105,243,6,392,1000,588,39
10,도봉구,1629,39,22,96,181,79,159,134,222,198,168,331
11,노원구,2415,0,97,193,77,516,331,175,216,320,386,104
12,은평구,3791,14,3,44,332,329,555,403,635,1057,288,131
13,서대문구,2940,730,253,155,108,137,223,356,237,343,397,1
14,마포구,2421,58,93,77,61,162,454,359,343,494,300,20
15,양천구,3312,1413,167,181,143,180,350,139,140,274,325,0
16,강서구,2560,55,129,106,213,188,168,506,259,457,356,123
17,구로구,4075,852,216,349,187,268,326,540,488,434,415,0
18,금천구,2374,0,0,178,80,361,133,196,540,369,508,9
19,영등포구,3778,572,136,238,123,209,248,311,658,65,1213,5
20,동작구,2297,41,24,25,503,128,253,271,300,322,419,11
21,관악구,4942,428,205,291,513,529,621,687,663,640,331,34
22,서초구,3704,116,75,94,71,563,516,1060,428,358,420,3
23,강남구,6502,124,77,75,597,840,1310,999,748,789,942,1
24,송파구,2854,72,61,86,85,215,148,241,542,1068,235,101
25,강동구,2547,332,27,163,49,154,202,273,377,356,614,0

- set_index를 한 후에 주의사항

In [91]:
cctv.set_index('구분', inplace=True)
cctv.head()

,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
구분,,,,,,,,,,,,
계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
종로구,1772,813,0,0,210,150,1,261,85,9,200,43
중 구,2333,16,114,87,77,236,240,372,386,155,361,289
용산구,2383,34,71,234,125,221,298,351,125,307,617,0
성동구,3602,448,125,212,105,339,310,874,390,262,461,76

In [92]:
cctv.to_csv('cctv.csv')# cctv라는 excel 파일이 생성되어 있다
cctv2 = pd.read_csv('cctv.csv')
cctv2.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289
3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0
4,성동구,3602,448,125,212,105,339,310,874,390,262,461,76

In [94]:
# Unnamed ? - 실행하고 csv 파일 확인해보기
cctv2.to_csv('cctv.csv') 
cctv3 = pd.read_csv('cctv.csv')
cctv3.head()

,Unnamed: 0,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289
3,3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0
4,4,성동구,3602,448,125,212,105,339,310,874,390,262,461,76

In [95]:
# Unnamed:0 인덱스를 없애려면, index=None을 설정
cctv2.to_csv('cctv.csv', index=None)
cctv3 = pd.read_csv('cctv.csv')
cctv3.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289
3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0
4,성동구,3602,448,125,212,105,339,310,874,390,262,461,76